################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ABC/ABC/.vs/ABC/v16
/another way to write class in  c++/.vs/another way to write class in  c++/v16
/another way to write class in  c++/another way to write class in  c++/Debug
/another way to write class in  c++/Debug
/class in c++ first program/.vs/class in c++ first program/v16
/class in c++ first program/class in c++ first program/Debug
/class in c++ first program/Debug
/contructer pass as parameter/.vs/contructer pass as parameter/v16
/contructer pass as parameter/contructer pass as parameter/Debug
/contructer pass as parameter/Debug
/function result/.vs/function result/v16
/function result/Debug
/function result/function result/Debug
/FUNCTION RETURN ARRAY/.vs/FUNCTION RETURN ARRAY/v16
/FUNCTION RETURN ARRAY/Debug
/FUNCTION RETURN ARRAY/FUNCTION RETURN ARRAY/Debug
/indirect recursion/.vs/indirect recursion/v16
/indirect recursion/Debug
/indirect recursion/indirect recursion/Debug
/object oriented program/.vs/object oriented program/v16
/object oriented program/Debug
/object oriented program/object oriented program/Debug
/parameter passing throug by value address and reference/.vs/parameter passing throug by value address and reference/v16
/parameter passing throug by value address and reference/Debug
/parameter passing throug by value address and reference/parameter passing throug by value address and reference/Debug
/pointer to structure/.vs/pointer to structure/v16
/pointer to structure/Debug
/pointer to structure/pointer to structure/Debug
/practice c++ class/.vs/practice c++ class/v16
/practice c++ class/Debug
/practice c++ class/practice c++ class/Debug
/references/.vs/references/v16
/references/Debug
/references/references/Debug
/structers/.vs/structers/v16
/structers/Debug
/template class/.vs/template class/v16
/template class/Debug
/template class/template class/Debug
/tree recursion/.vs/tree recursion/v16
/tree recursion/Debug
/tree recursion/tree recursion/Debug
/abccc/.vs/abccc/v16
