################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ABC/ABC/.vs/ABC/v16
/another way to write class in  c++/.vs/another way to write class in  c++/v16
/another way to write class in  c++/another way to write class in  c++/Debug
/another way to write class in  c++/Debug
/class in c++ first program/.vs/class in c++ first program/v16
/class in c++ first program/class in c++ first program/Debug
/class in c++ first program/Debug
/contructer pass as parameter/.vs/contructer pass as parameter/v16
/contructer pass as parameter/contructer pass as parameter/Debug
/contructer pass as parameter/Debug
/function result/.vs/function result/v16
/function result/Debug
/function result/function result/Debug
/FUNCTION RETURN ARRAY/.vs/FUNCTION RETURN ARRAY/v16
/FUNCTION RETURN ARRAY/Debug
/FUNCTION RETURN ARRAY/FUNCTION RETURN ARRAY/Debug
/indirect recursion/.vs/indirect recursion/v16
/indirect recursion/Debug
/indirect recursion/indirect recursion/Debug
/object oriented program/.vs/object oriented program/v16
/object oriented program/Debug
/object oriented program/object oriented program/Debug
/parameter passing throug by value address and reference/.vs/parameter passing throug by value address and reference/v16
/parameter passing throug by value address and reference/Debug
/parameter passing throug by value address and reference/parameter passing throug by value address and reference/Debug
/pointer to structure/.vs/pointer to structure/v16
/pointer to structure/Debug
/pointer to structure/pointer to structure/Debug
/practice c++ class/.vs/practice c++ class/v16
/practice c++ class/Debug
/practice c++ class/practice c++ class/Debug
/references/.vs/references/v16
/references/Debug
/references/references/Debug
/structers/.vs/structers/v16
/structers/Debug
/template class/.vs/template class/v16
/template class/Debug
/template class/template class/Debug
/tree recursion/.vs/tree recursion/v16
/tree recursion/Debug
/tree recursion/tree recursion/Debug
/abccc/.vs/abccc/v16
/nested recursion/.vs/nested recursion/v16
/nested recursion/Debug
/nested recursion/nested recursion/Debug
/nested recursion right way/.vs/nested recursion right way/v16
/nested recursion right way/Debug
/nested recursion right way/nested recursion right way/Debug
/sum of natural number using recursive function/.vs/sum of natural number using recursive function/v16
/sum of natural number using recursive function/Debug
/factorial of natural number by recursion/.vs/factorial of natural number by recursion/v16
/factorial using recursion/.vs/factorial using recursion/v16
/factorial using recursion/Debug
/factorial using recursion/factorial using recursion/Debug
/power using recursion/.vs/power using recursion/v16
/power using recursion/Debug
/power using recursion/power using recursion/Debug
/taylor series/.vs/taylor series/v16
/taylor series/Debug
/taylor series/taylor series/Debug
/taylor series using honor rule/.vs/taylor series using honor rule/v16
/taylor series using honor rule/Debug
/taylor series using honor rule/taylor series using honor rule/Debug
/fibnocci series using recursion/.vs/fibnocci series using recursion/v16
/fibnocci series using recursion/Debug
/fibnocci series using recursion/fibnocci series using recursion/Debug
/ncr using recursion/.vs/ncr using recursion/v16
/ncr using recursion/Debug
/ncr using recursion/ncr using recursion/Debug
/tower of hanoi/.vs/tower of hanoi/v16
/tower of hanoi/Debug
/tower of hanoi/tower of hanoi/Debug
/incresin array size/Debug
/incresin array size/incresin array size/Debug
/incresin array size/.vs/incresin array size/v16
